.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-shadow: 0 5px #f0f inset;
    
    @include mobile-only {
        justify-content: flex-start;
    }

    > div {
        display: flex;
        flex-flow: column wrap;
        
        @include mobile-only {
            padding: 30px 20px;
        }

        ul * {
            padding: 5px 0;
            color: $primary;
            text-decoration: none;
            transition: all 0.15s;
            &:hover {
                color: $accent;
                @include lg {scale: 1.1;}
            }
                
        }

        .section-heading {
            font-weight: bold;
            &::after {
                content: "";
                display: block;
                position: relative;
                height: 2px;
                width: 50%;
                top: 5px;
                background-color: $accent-two
            }
        }

        &:last-child {
            flex-basis: 15%;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                i {
                    padding: 25px;
                    color: $primary;
                    font-size: 3rem;
                    transition: all 0.3s;
                    &:hover {
                        color: $accent;
                        @include lg {scale: 1.1;}
                    }
                }
            }
        }
    }

    img {
        height: 150px;
        transition: all 0.3s;
        @include lg {&:hover {scale: 1.1;}}
        
    }
}