.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-shadow: 0 5px #f0f inset;
    
    @media screen and (max-width: 800px) {
        justify-content: left;
    }

    > div {
        display: flex;
        flex-flow: column wrap;
        @media screen and (max-width: 800px) {
            padding: 30px 20px;
        }
        // background-color: red;
        .section-heading {
            &::after {
                content: "";
                display: block;
                position: relative;
                height: 2px;
                width: 50%;
                top: 5px;
                background-color: $accent-two
            }
        }

        &:last-child {
            flex-basis: 15%;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                display: flex;
                li {padding: 25px;
                }
            }
        }
    }

    a {
        position: relative;
        bottom: 0;
        img {height: 100px;}
    }

    .socials {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}