// homepage hero section
#hero {
    background-image: url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.hero.home {
    height: calc(100vh - $nav-height);
    color: #fff;

    div {
        padding: calc(40vh - $nav-height) 250px 0;

        * {
            margin: 15px;
        }

        p {color: #fff;}

        a {
            position: relative;
            top: 25px;
            left: 25px;
        }

        @media screen and (max-width: 800px) {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            width: 100%;
            padding: calc(40vh - $nav-height) 0 0 0;

            p {margin: 5px 15px;}

            a {width: 200px;}
        }


    }

}

// homepage ribbon with form
.ribbon {
    padding: 50px 0;
    background-color: $primary;
    color: #fff;
    box-shadow: 0 5px $accent inset;
    display: flex;
    flex-flow: row wrap;

    div {
        flex-grow: 1;
    }

    .ribbon-callout {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0 20px;

        h2 {font-weight: bold;}
        p {color: #fff;}     
    
    }

    .ribbon-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
       
        @media screen and (max-width: 1009px) {
            margin: 20px 0;
        }
    }
}

// featured post (most recent post)
.featured {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 20px 0 10px;
    justify-content: space-evenly;

    .featured-image {
        @include md {
            flex: 1;
        }

        margin: auto;

        img {
            border-radius: 5px;
            box-shadow: -1rem -1rem 0 0 $accent-two;
            transition: all 0.3s;
            // max-width: 500px;


            &:hover {
                box-shadow: none;
                cursor: pointer;
            }
        }

    }

    .featured-content {
        display: flex;
        flex-flow: column wrap; 
        justify-content: space-between;
        padding: 0 20px;
        margin: auto;
        
        @include md {
            flex: 1;
            padding: 10px;
        }

        .featured-title {
            display: flex;
            flex-flow: column;

            &::after {
                content: "";
                position: relative;
                margin: auto;
                height: 2px;
                width: 40%;
                top: -8px;
                background-color: $accent-two;
            }
        }
        
        h3 {
            font-size: 32px;
            font-weight: bold;
            color: $primary;
            text-align: center;
            padding-bottom: 5px;
        }

        p {
            padding: 10px 50px 40px;

            @media screen and (max-width: 800px) {
                padding: 10px 0 40px;
            }

        }
    }

    .btn {
        width: 200px;
        text-align: center;
        left: 50%;
        align-self: flex-end;
    }

    

}

// recent spots section on homepage
.recent-spots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        
    }

    .spot-card {
        padding: 40px 50px;
        display: flex;
        flex-flow: column wrap;

        .spot-location {
            text-align: left;
            padding-bottom: 25px ;
        }

        h3 {
            font-weight: bold;
        }

        img {
            border-radius: 5px;
            box-shadow: 0 0 5px $accent-two;
            transition: all 0.3s;
            max-height: 420px;
            
            &:hover {
                box-shadow: 0 0 5px $accent;
                transform: skew(1deg);
            }
        }
    
        .spot-content {
            padding: 15px 10px;
            p {color: #fff;}

            a {
                float: right;
                margin-top: 25px;
            }
        }

        &::after {
            content: "";
            position: relative;
            left: 0;
            top: -50px;
            display: block;
            height: 2px;
            width: 20%;
            // margin: 0 auto;
            background-color: $accent;
        }
    
    }

}

.locaitons-callout {
    padding-top: 50px;
    display: flex;
    flex-flow: row;

    div {
        height: 350px;
        background-color: red;
        flex-grow: 1;
        outline: black solid 1px;
        display: flex;
        background-size: cover;
        align-items: center;
        justify-content: center;


        &:hover {
            cursor: pointer;

            &::after {
                content: attr(location);
                color: #fff;
                font-size: 50px;
                position: absolute;
            }
        }
    }
}