// homepage hero section
#hero {
    background-image: url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.hero.home {
    height: calc(100vh - $nav-height);
    color: #fff;

    div {
        padding: calc(40vh - $nav-height) 250px 0;

        * {
            margin: 15px;
        }

        p {color: #fff;}

        a {
            position: relative;
            top: 25px;
            left: 25px;
        }

        @media screen and (max-width: 800px) {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            width: 100%;
            padding: calc(40vh - $nav-height) 0 0 0;

            p {margin: 5px 15px;}

            a {width: 200px;}
        }


    }

}

// homepage ribbon with form
.ribbon {
    padding: 50px 0;
    background-color: $primary;
    color: #fff;
    box-shadow: 0 5px $accent inset;
    display: flex;
    flex-flow: row wrap;

    div {
        flex-grow: 1;
    }

    .ribbon-callout {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0 20px;

        h2 {font-weight: bold;}
        p {color: #fff;}     
    
    }

    .ribbon-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
       
        @media screen and (max-width: 1009px) {
            margin: 20px 0;
        }
    }
}

// featured post (most recent post)
.featured {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 20px 0 10px;
    justify-content: space-evenly;

    .featured-image {
        @include md {
            flex: 1;
        }

        margin: auto;

        img {
            border-radius: 5px;
            box-shadow: -1rem -1rem 0 0 $accent-two;
            transition: all 0.3s;
            // max-width: 500px;


            &:hover {
                box-shadow: none;
                cursor: pointer;
            }
        }

    }

    .featured-content {
        display: flex;
        flex-flow: column wrap; 
        justify-content: space-between;
        padding: 0 20px;
        margin: auto;
        
        @include md {
            flex: 1;
            padding: 10px;
        }

        .featured-title {
            display: flex;
            flex-flow: column;

            &::after {
                content: "";
                position: relative;
                margin: auto;
                height: 2px;
                width: 40%;
                top: -8px;
                background-color: $accent-two;
            }
        }
        
        h3 {
            font-size: 32px;
            font-weight: bold;
            color: $primary;
            text-align: center;
            padding-bottom: 5px;
        }

        p {
            padding: 10px 0 40px;
            @include md {
                padding: 10px 50px 40px;     
            }

        }
    }

    .btn {
        width: 200px;
        text-align: center;
        left: 50%;
        align-self: flex-end;
    }

    

}

// recent spots section on homepage
.recent-spots {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 20px;

    @include lg {
        grid-template-columns: 1fr 1fr;
        
    }

    .spot-card {
        padding: 40px 0px;
        display: flex;
        flex-flow: column wrap;
        @include sm {
            padding: 40px 50px;
        }

        .spot-location {
            text-align: left;
            padding-bottom: 25px ;
        }

        h3 {
            font-weight: bold;
        }

        a {text-align: center;}
        
        img {
            border-radius: 5px;
            box-shadow: 0 0 5px $accent-two;
            transition: all 0.3s;
            max-height: 420px;
            
            @include breakpoint(1670px) {
                max-width: 625px !important;
            }
            
            &:hover {
                box-shadow: 0 0 5px $accent;
                transform: skew(1deg);
            }
        }
    
        .spot-content {
            padding: 15px 10px;
            p {color: #fff;}

            @include breakpoint(1670px) {
                margin-right: 75px;
            }

            a {
                float: right;
                margin-top: 25px;
                
            }
        }

        &::after {
            content: "";
            position: relative;
            left: 0;
            top: -50px;
            display: block;
            height: 2px;
            width: 20%;
            // margin: 0 auto;
            background-color: $accent;
        }
    
    }

}

// locations callout on homepage
.locaitons-callout {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr;

    @include md {
        grid-template-columns: 1fr 1fr 1fr;
    }

    a {
        height: 250px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;

        &::after {
            content: attr(location);
            transition: all 0.3s;
            visibility: hidden;
            color: #fff;
        }
        
        @include md {
            height: 350px;
            box-shadow: 0 10px $accent inset, 0 -10px $accent inset;
            

            &:hover {
                cursor: pointer;
                box-shadow: 0 10px $accent-two inset, 0 -10px $accent-two inset, -3px 0 $accent-two inset, 3px 0 $accent-two inset;
                transition: transform 0.3s;
                transform: scaleY(1.1);
                border-radius: 5px;
    
                &::after {
                    content: attr(location);
                    color: #fff;
                    font-size: 44px;
                    position: absolute;
                    visibility: visible;
                }
            }
        }

        @include mobile-only { // mobile-only is everything smaller than md
            justify-content: left;
            &:first-child {box-shadow: 0 10px $accent inset;}
            &:last-child {box-shadow: 0 -10px $accent inset;}
            &::after {
                content: attr(location);
                color: #fff;
                font-size: 40px;
                padding: 10px;
                position: absolute;
                visibility: visible;
            }
        }
    }
}


.see-archive {
    text-decoration: none;
    position: relative;
    margin: 40px 0 20px auto;
    color: $accent-two;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.31em;
    font-size: 1rem;
 }