// colors

$primary: #192841;
$secondary: #fff;
$accent: #FF00FF;
$accent-two: #28acea;



// sizing
$nav-height: 100px;

// breakpoints
// $breakpoints: (phone: 640px, 
//                tablet: 768px, 
//                desktop: 1024px) !default;